name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4


    - name: get gcc
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential gcc

    - name: tests
      run: |
        gcc -fsanitize=address 05_hw/tests.c -o tests.exe
        ./tests.exe

        
    

    
